.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.input label {
    font-weight: bold;
    margin-right: 1rem;
}

.input input {
    width: 5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding: 0.5rem;
    transition: border-color 0.3s;
}

.input input:focus {
    border-color: #8a2b06;
    outline: none;
    box-shadow: 0 0 5px rgba(138, 43, 6, 0.5);
}